

.gpt__cta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    border-radius: 10px;
}

.gpt__cta-info h1{
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.gpt__cta-info p{
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.cta__button{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    border-radius: 40px;
    background-color: #000;
    padding: 0.6rem 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 1090px){}

@media  screen and (max-width: 768px){
    .gpt__cta-container{
        flex-direction: column;
    }

    .gpt__cta-info h1{
        font-weight: 800;
        font-size: 22px;
        line-height: 35px;
        color: #000000;
    }

    .gpt__cta-info p{
       
        font-size: 14px;
        line-height: 20px;
        
    }
}

@media screen and (max-width: 570px){}